<!DOCTYPE html>
<html lang="en" ng-app="myApp2">
<head>
<meta charset="UTF-8">
<title>AngularJS Data Binding</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script>
  var app2 = angular.module('myApp2', []);

  app2.controller('DemoController', ['$scope', function($scope) {
    $scope.fruits = [
      {name: 'Apple', color: 'Red'},
      {name: 'Banana', color: 'Yellow'},
      {name: 'Grapes', color: 'Green'}
    ];
    $scope.newFruit = '';
  }]);
</script>
<style>
  body { font-family: Arial, sans-serif; padding: 20px; }
  input { padding: 8px; margin: 5px 0; }
  li { margin: 5px 0; }
</style>
</head>
<body ng-controller="DemoController">

<h2>ng-model Binding</h2>
<input type="text" ng-model="newFruit" placeholder="Add a new fruit">
<p>You typed: {{ newFruit }}</p>

<h2>ng-repeat Example</h2>
<ul>
  <li ng-repeat="fruit in fruits">{{ fruit.name }} - {{ fruit.color }}</li>
</ul>

<h2>ng-init & ng-include Example</h2>
<div ng-init="headerText='Included Header'">
  <div ng-include="'header.html'"></div>
</div>

</body>
</html>